db.*

# database files
photos/migrations

# Static Files
static*

# Virtual Environment Directory
env/

# Secrets File
mysite/secrets_keys.py

# Excluding Cache files
mysite/__pycache__
photos/__pycache__